<h2 class="page-header">Create Snippets</h2>
<form class="" action="/users/create" method="post">

    <input class="snippetname" type="text" name="name" value="" placeholder="Name"><br>
    <textarea class="snippets" type="text" name="snippets" value="" placeholder="Message"></textarea><br>
    <button class="btn btn-warning">Create a Snippet!</button>
</form>