<h2 class="page-header">Home Page</h2>
<h3>Welcome to your Snippets App</h3>
<p>Here you can create your snippets and save them, we made sure that in future will will be able to update or delete your Snippets.</p>