<h2 class="page-header">Update your snippets</h2>
<form class="" action="/users/update/{{id}}" method="POST">

    <input class="snippetname" type="text" name="name" value= {{name}}><br>
    <textarea class="snippets" type="text" name="snippets"  >{{snippets}}</textarea><br>
    <button class="btn btn-warning">Update a Snippet!</button>
</form>

